 body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: silver;
}

.form-signin {
	max-width: 500px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
 	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 10px;
	padding: 7px 9px;
}

textarea{
	min-width:97%;
	min-height:65px;
	max-width:97%;
	max-height:200px;
}

h1{
	font-size:50px;
}

label{
	font-size:17px;
}

.checkTitle{
	color:white;
	border-radius:4px;
	padding:5px;
	margin-bottom:5px;
	width:auto;
	height:20px;
	background-color: #08C;
}

.moreInfo{
	height:0px;
	transition:height 0.2s;
	-moz-transition:height 0.2s; /* Firefox 4 */
	-webkit-transition:height 0.2s; /* Safari and Chrome */
	-o-transition:height 0.2s; /* Opera */
	overflow:hidden;
}

.infoPos{
	font-size:12px;
	position:relative;
	float:right;
	right:5px;
}

.titlePos{
	position:relative;
	float:left;
}

.infoExpand{
	height:29px;
}

.infoExpandMore{
	height:43px;
}

.infoExpandLess{
	height:15px;
}

.centerButton{
	display:block;
	width: 221px;
	margin: 0 auto;
}

.centerSendButton{
	display:block;
	width: 86px;
	margin: 0 auto;
}

.centered{
	position:relative;
	text-align:center;
	width:100%;
}

label.error{
	position:relative;
	color:red;
	font-size:11px;
	height:20px;
	margin-bottom: 0px;
	top:-10px;
}
