

textarea{
	width: 486px;
	max-width:486px;
	max-height: 200px;
}

h1{
	font-size:50px;
}

label{
	font-size:17px;
}

.checkTitle{
	color:white;
	border-radius:4px;
	padding:5px;
	margin-bottom:5px;
	width:auto;
	height:20px;
	background-color: #08C;
}

.moreInfo{
	height:0px;
	transition:height 0.2s;
	-moz-transition:height 0.2s; /* Firefox 4 */
	-webkit-transition:height 0.2s; /* Safari and Chrome */
	-o-transition:height 0.2s; /* Opera */
	overflow:hidden;
}

.infoPos{
	font-size:12px;
	position:relative;
	float:right;
	right:5px;
}

.titlePos{
	position:relative;
	float:left;
}

.infoExpand{
	height:29px;
}

.infoExpandMore{
	height:43px;
}

.infoExpandLess{
	height:15px;
}